page-game7 {

  .bg{
    background: #35a6aa;
  }

  .scroll-content {
    background: #35a6aa;
    height: 150%;
  }

  .scroll-content::-webkit-scrollbar {
    display:block;  // Safari and Chrome
  }
.cont{
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 0%;
  }

  .stat{
    width: 80px;
    height: 80px;
    margin: 0px;
    position: relative;
   // background-color: black;
      }
  .col{
    flex:0% 0% 20%;
  }
  .column{
    width: 80px;
    height: 80px;
    padding: 0px;
    margin: 0px;
  }

  .blinkgame1{
    width: 80px;
    height: 80px;
    margin: 0px;
    //position: fixed;
    background: red;
  }
}
