

<ion-content padding class="cont">

  <div class="bg" >
    <div style="text-align: center;color: #fcd011">
      <h1 style="text-align: center;color: #fcd011">{{gamename}}</h1>
      <button ion-button clear icon-only (click)="gotohome()">
        <ion-icon name="home" color="light"></ion-icon>
      </button>
    </div>

    <div style="width: 100%;">
      <ion-row>
        <ion-col col-3>
          <h6 style="text-align: center;color: #fbfc7a">Countdown Time: {{minShow}}:{{secShow}}:{{miliseconddd}}</h6>
        </ion-col>
        <ion-col col-3>
          <h6 style="text-align: center;color: #fcd011">Game2/Level{{level}}/Attempt:{{attemptcount}}/{{attempt}}</h6>
        </ion-col>
        <ion-col col-3>
          <h6 style="text-align: center;color: #fcd011">Game: {{gamename}}</h6>
        </ion-col>
        <ion-col col-3>
          <h6  style="text-align: center;color: #fcd011">Score:{{score}}</h6>
        </ion-col>
      </ion-row>
    </div>




    <div style="width: 100%;margin-top:0%;text-align: center">
      <ion-row>
        <ion-col col-2>
          <button ion-button icon-right color={{game.color}} *ngFor="let game of Games; let i=index " [disabled]="game.name=='Game 03'?false:true" (click)="gotogame_3()">{{game.name}}
            <ion-icon name="{{game.icon}}" [hidden]="i==1?true:false"></ion-icon>
          </button><br>
        </ion-col>

        <ion-col col-8>
          <div [hidden]="game1">
            <ion-row style="text-align: center;margin-left:8%; margin-top:2%;" [hidden]="!start">
              <div style="width:10%" *ngIf="level==1"></div>
              <ion-col col-3 *ngIf="block1"   #block1 >
                <div  class="blinkgame2 glowapple" *ngIf="!first1" #first1>
                </div>
                <div (click)="checkresult(1)" *ngIf="first1"  class="stat"  style="height: 100px;width: 100px;margin:10px" #first>
                </div>
              </ion-col>
              <ion-col col-3 *ngIf="block2"   #block2 >
                <div  class="blinkgame2 glowapple" *ngIf="!first2" #second2>
                </div>
                <div  (click)="checkresult(2)" class="stat" style="height: 100px;width: 100px;margin:10px" *ngIf="first2" #second>
                </div>
              </ion-col>
              <ion-col col-3 *ngIf="block3"   #block3 >
                <div  class="blinkgame2 glowapple" *ngIf="!first3" #three3>
                </div>
                <div  (click)="checkresult(3)" class="stat" style="height: 100px;width: 100px;margin:10px" *ngIf="first3" #three>
                </div>
              </ion-col>
              <ion-col col-3 *ngIf="level>=2" #block4 >
                <div  class="blinkgame2 glowapple" *ngIf="!first4" #four4>
                </div>
                <div  class="stat" (click)="checkresult(4)" style="height: 100px;width: 100px;margin:10px" *ngIf="first4" #four>
                </div>
              </ion-col>
            </ion-row>

            <div style="text-align: center;margin-top: 20%" [hidden]="start" >
              <div style="width: 200px;height: 200px;border-radius: 100px;background: #fcd011; margin-left: 39%"  tappable (click)="onload()"><p style="color: white;font-size: 60px;padding-top: 60px">Begin</p> </div>
            </div>

            <ion-row style="text-align: center;margin-left:8%;margin-top: 2%" [hidden]="!start">
              <ion-col col-3 *ngIf="level>=3" #block5 >
                <div  class="blinkgame2 glowapple" *ngIf="!first5" #five5>
                </div>
                <div  (click)="checkresult(5)"  class="stat" style="height: 100px;width: 100px;margin:10px" *ngIf="first5" #five>
                </div>
              </ion-col>

              <ion-col col-3 *ngIf="level>=4" #block6 >
                <div  class="blinkgame2 glowapple" *ngIf="!first6" #six6>
                </div>
                <div  class="stat" (click)="checkresult(6)" style="height: 100px;width: 100px;margin:10px" *ngIf="first6" #six>
                </div>
              </ion-col>

              <ion-col col-3 *ngIf="level>=5" #block7 >
                <div  class="blinkgame2 glowapple" *ngIf="!first7" #seven7>
                </div>
                <div (click)="checkresult(7)" class="stat"  style="height: 100px;width: 100px;margin:10px" *ngIf="first7" #seven>
                </div>
              </ion-col>

              <ion-col col-3 *ngIf="level>=6" #block8 >
                <div  class="blinkgame2 glowapple" *ngIf="!eightt" #eight8>
                </div>
                <div  (click)="checkresult(8)" class="stat" style="height: 100px;width: 100px;margin:10px" *ngIf="eightt" #eight>
                </div>
              </ion-col>
            </ion-row>

            <div style="text-align: center" *ngIf="block9">
              <button style="width: 200px;height: 50px;border-radius: 30px;margin-top: 18%;background: #fcd011; margin-left: 5%" ion-button (click)="startgame()">I'm ready</button>
            </div>

            <div style="text-align: center" *ngIf="block99">
              <button style="width: 200px;height: 50px;border-radius: 30px;margin-top: 18%;background: #fcd011; margin-left: 5%" ion-button (click)="startgame3()">I'm ready</button>
            </div>


            <div style="text-align: center;margin-top: 18%;">
              <button ion-button round color="secondary"  *ngIf="repeatshow">Please select apple in same order. </button>
            </div>
            <ion-row style="text-align: center;margin-left:8%;margin-top:1%" >


              <ion-col col-4 >


              </ion-col>

              <ion-col col-4 style="text-align: center" >



                <div style="width: 72%;text-align: center">

                  <button ion-button round color="white" (click)="startgame()" *ngIf="repeatshow">Repeat</button>
                </div>


              </ion-col>


              <ion-col col-4 >

              </ion-col>

            </ion-row>

          </div>
        </ion-col>

        <ion-col col-2>
          <button ion-button icon-right [color]="level<1?'white':'primary'" [disabled]="level<1?true:false">LEVEL 01
            <ion-icon name="lock" [hidden]="level<1?false:true" [color]="level==1?'white':'primary'"></ion-icon>
          </button> <br>

          <button ion-button icon-right  [color]="level<2?'white':'primary'"  [disabled]="level<2?true:false">LEVEL 02
            <ion-icon name="lock" [hidden]="level<2?false:true"></ion-icon>
          </button> <br>

          <button ion-button icon-right  [color]="level<3?'white':'primary'" [disabled]="level<3?true:false">LEVEL 03
            <ion-icon name="lock" [hidden]="level<3?false:true"></ion-icon>
          </button> <br>

          <button ion-button icon-right  [color]="level<4?'white':'primary'" [disabled]="level<4?true:false">LEVEL 04
            <ion-icon name="lock" [hidden]="level<4?false:true"></ion-icon>
          </button> <br>

          <button ion-button icon-right   [color]="level<5?'white':'primary'" [disabled]="level<5?true:false">LEVEL 05
            <ion-icon name="lock" [hidden]="level<5?false:true"></ion-icon>
          </button> <br>

          <button ion-button icon-right  [color]="level< 6?'white':'primary'" [disabled]="level<6?true:false">LEVEL 06
            <ion-icon name="lock" [hidden]="level<6?false:true"></ion-icon>
          </button> <br>
        </ion-col>
      </ion-row>
    </div>

    <ion-footer >

      <ion-row>
        <ion-col col-3>
        </ion-col>

        <ion-col col-3>
          <h1 style="text-align: center;color: white">Game1/Level{{level}}</h1>
        </ion-col>

        <ion-col col-3>
          <h1 style="text-align: center;color: white"> {{gamename}}</h1>
        </ion-col>

        <ion-col col-3>
        </ion-col>
      </ion-row>
    </ion-footer>
  </div >

</ion-content>

