page-game4 {






    .bg{
      background: #35a6aa;
      // height:100%;
    }

    .scroll-content {

      background: #35a6aa;
      height: 150%;
    }

    .scroll-content::-webkit-scrollbar {
      display:block;
    }



    .cont{
      width: 78%;
      margin-left: 11%;
      margin-right: 11%;
      margin-top: 0%;
    }

    .stat{
      width: 100px;
      height: 100px;
      position: relative;
      background-image: url('../assets/imgs/egg.png');
      background-size: contain;
      background-repeat: no-repeat;

    }



    .crack4{
      width: 120px;
      height: 120px;
      // margin: 10px;
     // position: fixed;
      background-image: url('../assets/imgs/egghatch.png');
      background-size: contain;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */

      animation-name: exampleapple;
      background-repeat: no-repeat;
      animation-duration: 4s;
    }
    .blinkgame4{
      width: 120px;
      height: 120px;
      // margin: 10px;
      position: fixed;
      background-image: url('../assets/imgs/egg.png');
      background-size: contain;
      -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */

      animation-name: exampleapple;
      background-repeat: no-repeat;
      animation-duration: 4s;
    }

    @keyframes exampleapple {
      0%   {//background-color:red;


        background-image: url('../assets/imgs/egg.png');
        background-repeat: no-repeat;
        background-size: contain;

      }
      5% { // background: white ;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      10%   { //background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }

      15% {// background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      20%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }

      25% { //background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      30%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }


      35% {
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      40%   {//background-color:red;

        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;


      }


      45% { //background: white
        background: url('../assets/imgs/egg.png') ;
        background-size: contain;
        background-repeat: no-repeat;

      }
      50%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }

      55% {// background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      60%   {///background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;


      }

      65% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      70%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }

      75% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }
      80%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;

      }

      85% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;


      }
      90%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;


      }

      95% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;
        background-repeat: no-repeat;


      }
      100%   {
        background-image: url('../assets/imgs/egg.png') ;
        background-size: contain;
        background-repeat: no-repeat;

      }




    }





    .blink2game4{
      width: 100px;
      height: 100px;
      position: fixed;
      background-image: url('../assets/imgs/egg.png');
      -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
      animation-name: example2apple;
      animation-duration: 4s;
    }

    @keyframes example2apple {
      0%   {//background-color:red;


        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      5% { // background: white ;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      10%   { //background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      15% {// background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      20%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      25% { //background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      30%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }


      35% {
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      40%   {//background-color:red;

        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }


      45% { //background: white
        background: url('../assets/imgs/egg.png') ;
        background-size: contain;

      }
      50%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      55% {// background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      60%   {///background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }

      65% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      70%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      75% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      80%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      85% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }
      90%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }

      95% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }
      100%   {
        background-image: url('../assets/imgs/egg.png') ;
        background-size: contain;

      }


    }

    @-webkit-keyframes example2apple {

      0%   {//background-color:red;


        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      5% { // background: white ;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      10%   { //background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      15% {// background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      20%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      25% { //background: white;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      30%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }


      35% {
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      40%   {//background-color:red;

        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }


      45% { //background: white
        background: url('../assets/imgs/egg.png') ;
        background-size: contain;

      }
      50%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      55% {// background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      60%   {///background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }

      65% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      70%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      75% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }
      80%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;

      }

      85% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }
      90%   {//background-color:red;
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }

      95% { //background: white
        background-image: url('../assets/imgs/egg.png');
        background-size: contain;


      }
      100%   {
        background-image: url('../assets/imgs/egg.png') ;
        background-size: contain;

      }


    }


    .glowapple {
      color: #fdf6fb;
      text-align: center;
      -webkit-animation: glow 0.8s ease-in-out infinite alternate;
      -moz-animation: glow 0.8s ease-in-out infinite alternate;
      animation: glowapp 0.8s ease-in-out infinite alternate;
    }

    @-webkit-keyframes glowapp {
      10% {
         //box-shadow: 0 0 10px #fffcaa, 0 0 15px #fdf60b, 0 0 20px #fdf60b, 0 0 40px #ff9e14, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        transform: translateY(0);

      }
      50% {
         //box-shadow: 0 0 15px #fdf60b, 0 0 20px #fdf60b, 0 0 25px #ff9e14, 0 0 50px #ff9e14, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        transform: translateY(-10px);
      }

      100% {
        //box-shadow: 0 0 20px #fdf60b, 0 0 25px #ff9e14, 0 0 30px #ff9e14, 0 0 60px #ff9e14, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6;
        transform: translateY(0);
      }
    }







}
